<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136138103938-olkbtapibjbh9i38dtnekliarm8pibsf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136138103938-olkbtapibjbh9i38dtnekliarm8pibsf</string>
	<key>API_KEY</key>
	<string>AIzaSyC5nDTFLqIuBY2rR0bKa3PurzqJDlm9j0U</string>
	<key>GCM_SENDER_ID</key>
	<string>136138103938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tablenow.app</string>
	<key>PROJECT_ID</key>
	<string>table-now-543c9</string>
	<key>STORAGE_BUCKET</key>
	<string>table-now-543c9.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136138103938:ios:e0a298a1275e3b77f6a89b</string>
</dict>
</plist>